# LaTeX Files
*.aux
*.log
*.out
*.synctex.gz
**_minted*

# Python and PyCharm Files
**/.hypothesis
**/pyta_report.html
**/__pycache__

# Database
*.db

# Raw data files
data/*.txt

# Mac Files
.DS_Store

# Big boi file
data/stop_times.txt